body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}
.header {
    display: flex;
    justify-content: end;
    border-bottom: 1px white solid;
    padding-bottom: 2px;
}
.logo{
    height: 60px;
    text-align: end;
}
.main {
    background-color: rgb(49, 71, 62);
    min-height: 96vh;
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 18px;
    /*min-width: 356px;*/
    min-width: 356px;
    width: 98vw;
    max-width: 600px;
}
.pattern{
    color: black;
    border: 1px black solid;
    padding: 2px;
    background-color: white;
}
.pattern summary{
    background-color: rgb(235, 233, 233);
    font-weight: bold;
}
.pattern summary:hover{
    background-color: rgb(202, 201, 201);
}
.pattern p{
    margin: 0;
    padding: 0;
}

.block img{
    width: 68px;
    height: 68px;
    z-index: 2;
    border-radius: 18px;
    position: relative;

}
.comGame{
    margin-bottom: 20px;
    display: flex;
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.block {
    position: relative;
    width: 70px;
    height: 70px;
    z-index: 1;
    border-radius: 18px;
  }
  
  .block:before, .block:after {
    content: '';
    position: absolute;

    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
      #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    z-index: -1;
    top: -2px;
    left: -2px;
    animation: steam 20s linear infinite;
    border-radius: 18px;
  }
  
  @keyframes steam {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .block:after {
    filter: blur(7px);
  }
